<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./plantilla/UITemplateEmpleado :: head">
<meta charset="UTF-8">
<title>Registro Cargo</title>
</head>
<style>

	.modal-header, h4, .close {
		background-color: #286090;
		color: white !important;
		text-align: center;
		font-size: 20px;
	}
	.help-block{
	 color: red;
	 /*display: none;*/
	}
	.form-group.has-error .form-control-label {
	  color: red;
	}
	.form-group.has-error .form-control {
	  border: 1px solid red;
	  box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
	}
	


</style>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
 	<div class="wrapper">

    <div th:replace="./plantilla/UITemplateEmpleado :: arriba"></div>
    
	<div th:replace="./plantilla/UITemplateEmpleado :: derecha"></div>
	
		<div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
		     <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">REGISTRO DE MARCA</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" id="idRegistra" th:action="@{/marca/registrar}" th:object="${marca}">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">COD.MARCA</label>
                    <input type="text" class="form-control" id="idcodMarca" name="codigo" placeholder="Ingresar Codigo Marca" th:field="*{codigo}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">NOMBRE</label>
                    <input type="text" class="form-control" id="idNombre"  name="nombre" placeholder="Ingresar Nombres" th:field="*{nombre}">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i>  Registrar</button>
                </div>
                
              </form>
            </div>
        </div>
    </div>


	
	<div th:insert="plantilla/UITemplateEmpleado :: scripts"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script> 
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script th:src="@{/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		var m=/*[[${MENSAJE}]]*/ null;
		Swal.fire({
		  icon: 'success',
		  title: m,
		  confirmButtonText:'Cerrar'
		 })
	</script>
	<script type="text/javascript">    
	  
	$(document).ready(function(){     
	
	        $('#idRegistra').bootstrapValidator({     
	        	feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	        	 fields:{
	        		 
	        		 codigo: {
	     	    		selector:'#idcodMarca',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese codigo de Marca .Ejemplo : MA01'    
	                        }      
	                    }    
	                },   
	                nombre: {
	     	    		selector:'#idNombre',       
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese nombre'    
	                        },
	                        stringLength :{
	     	                	message:'El nombre es de 15 a 30 caracteres',
	     	                	min : 15,
	     	                	max : 30
	     	                },
	                    }  
	                }	                	                
	        	 }
	        });   				
	    });    	
	</script>   
</body>
</html>